<%= form_with(model: userproject, local: true) do |form| %>
  <% if userproject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userproject.errors.count, "error") %> prohibited this userproject from being saved:</h2>

      <ul>
      <% userproject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :userproject_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :userproject_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
