<p id="notice"><%= notice %></p>

<h1>Userprojects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userprojects.each do |userproject| %>
      <tr>
        <td><%= userproject.title %></td>
        <td><%= userproject.description %></td>
        <td><%= link_to 'Show', userproject %></td>
        <td><%= link_to 'Edit', edit_userproject_path(userproject) %></td>
        <td><%= link_to 'Destroy', userproject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userproject', new_userproject_path %>
