<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @userproject.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @userproject.description %>
</p>

<%= link_to 'Edit', edit_userproject_path(@userproject) %> |
<%= link_to 'Back', userprojects_path %>
