<li id="project-<%= project.id %>">
  <%= link_to gravatar_for(project.user, size: 50), project.user %>
  <span class="user"><%= link_to micropost.user.name, project.user %></span>
  <span class="content"><%= project.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(project.created_at) %> ago.
    <% if current_user?(project.user) %>
      <%= link_to "delete", project, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>